<div class="container" id="table-container">
    <div class="row pt-3">
        <div class="col d-flex border-bottom border-black">
            <h4 class="upper-headers">Pizze</h4>
            @if (User.IsInRole("ADMIN"))
            {
                <a class="btn btn-sm btn-dark rounded-0 ms-auto" style="max-height:30px;" href="@Url.Action("AddPizza", "Pizza")" role="button">Add</a>
            }
        </div>
    </div>
    <table class="table table-borderless mt-2">    
        <thead class="bg-dark bg-opacity-10 upper-headers">
            <tr>
                @if (User.IsInRole("ADMIN"))
                {
                    <th scope="col">#</th>
                }
                <th scope="col">Nome</th>
                <th scope="col">Foto</th>
                <th scope="col">Prezzo</th>
                @if (User.Identity.IsAuthenticated)
                {
                    <th scope="col">Azioni</th>
                }
            </tr>
        </thead>
        <tbody id="table">

        </tbody>
    </table>
</div>


@section Scripts{
        axios.get("https://localhost:7132/api/PizzaAPI/GetPizzas").then((result) => {
                const listPizzas = result.data;
                listPizzas.forEach(pizza => {
                    document.getElementById("table").innerHTML += `
    <tr class="border-bottom border-black">
        <td scope="row" class="site-font">${pizza.id}</td>
        <td class="upper-headers">${pizza.name}</td>
        <td><img src=${pizza.imageUrl} alt="Foto pizza {pizza.name}" height="150" width="150" /></td>
        <td class="site-font">${pizza.price}</td>
        <td>
            <a class="btn btn-dark btn-sm rounded-0" href="/Pizza/PizzaDetails/${pizza.id}">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 2 22 22" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
            </a>
            <a class="btn btn-warning btn-sm rounded-0" href="/Pizza/UpdatePizza/${pizza.id}">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 2 22 22" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg>
            </a>
            <form asp-controller="Pizza" asp-action="DeletePizza" asp-route-id="${pizza.id}" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="1 2 22 22" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                </button>
            </form>            
        </td>        
    </tr>`

        });

    }).catch((error) => {
        console.error("Errore!");
        console.log(error);
    });
}
